// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
}

//--------Section general
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Back to top button - ARSHA
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 20px;
  bottom: 20px;
  z-index: 996;
  background: #47b2e4;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top svg {
  line-height: 0;
  width: 35px;
  height: 35px;
  fill: white;
  transition: all 0.2s;
  &:hover {
    width: 45px;
    height: 45px;
  }
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Back to top button - ARSHA END
--------------------------------------------------------------*/


//@import "./general";
//@import "./sections/general";
@import "./sections/navbar";
@import "sections/hero";
//@import "./sections/clients";
//@import "./sections/about-us";
//@import "./sections/why-us";
@import "./sections/footer";
@import "../../../node_modules/glightbox/dist/css/glightbox";
